html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#')
            img(src="/images/logo.png", alt="", style="width: 6rem", class="ml-2")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/users')
                        | Home 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="/users/create") New user
                li.nav-item
                    a.nav-link(href="/product") Products

                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Dropdown
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        .dropdown-divider
                        a.dropdown-item(href='#') Something else here
                li.nav-item
                    a.nav-link(href='/users/search') Search
                li.nav-item
                    a.nav-link(href='#')
                        span= 'Cart (' + total + ')'
                li.nav-item
                    a.nav-link(href='/transfer/create') Transfer
                        
                    
        if user 
            p= user.name
    .container.pt-5                
      block content